<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon svgIcon="sidenav"></mat-icon>
    </button>
    <h1 class="example-app-name">Kanban Tool</h1>
    <div class="toolbar-buttons-group">

      <button mat-flat-button class="toolbar-button" (click)="op.toggle($event);notificationsClick()" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
        <div *ngIf="notificationsAmount !== 0" matTooltip="Last messages" class="mybadge">{{notificationsAmount}}</div>
        <div>{{userName}} {{userSurname}}</div>
      </button>
      <button mat-flat-button class="toolbar-button" (click)="logout()">Logout</button>
      <p-overlayPanel id="changePasswordPanel"#op [ngStyle]="{'width': '800px'}">
        <div>
          <div id="inbox-wapper" style="width: 730px; max-height: 350px; overflow-y: auto;">
            <h2>New messages with you</h2>
            <table style="border-collapse: collapse; margin-top:20px; border-collapse: collapse">
              <tbody>
                <tr *ngFor="let not of notifications" class="userMessageRow" (click)="op.hide($event);loadBoard(not.issue_id, not.teamId);">
                  <td class="author-avatar" style="width: 100px; text-align: center">
                    <span>{{sequenceHelperService.getSequenceFor('I-', 6, not.issue_id)}}</span>
                  </td>
                  <td>
                    <div style="margin-left: 10px">
                    <div class="commentTextDiv" style="line-height:16px; margin-top: 10px">
                      <span class="commentText">{{not.text}}</span>
                    </div>
                    <div class="userMessageInfo" style="line-height:16px; padding-top: 15px">
                      <span class="team">{{not.teamName}}</span>
                      <span class="arrow"></span>
                      <span class="author">{{not.name + ' ' + not.surname}}</span>
                    </div>
                    <div>
                      <span class="date" style="line-height:16px;padding-bottom: 10px">{{dateService.getDateTimeFormat(not.date).slice(0, 10)}}</span>
                    </div>
                  </div>
                  </td>
                  <td class="reviewers">

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </p-overlayPanel>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav fixedInViewport="true" fixedTopGap="50" opened="true" mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="." (click)="loadTeams()">
          <mat-icon svgIcon="group" class="sidenav-icons"></mat-icon>Teams</a>
        <a mat-list-item routerLink="." (click)="loadUsers()">
          <mat-icon svgIcon="person" class="sidenav-icons"></mat-icon>Users</a>
        <a mat-list-item routerLink="." (click)="loadProducts()">
          <mat-icon svgIcon="products" class="sidenav-icons"></mat-icon>Products</a>
        <a mat-list-item routerLink="." (click)="loadFeatures()">
          <mat-icon svgIcon="feature" class="sidenav-icons"></mat-icon>Features</a>
        <a mat-list-item routerLink="." (click)="loadIssues()">
          <mat-icon svgIcon="issue" class="sidenav-icons"></mat-icon>Issues</a>
        <a mat-list-item routerLink="." (click)="loadIncrements()">
          <mat-icon svgIcon="increment" class="sidenav-icons"></mat-icon>Program Increments</a>
        <a mat-list-item routerLink="." (click)="loadIterations()">
          <mat-icon svgIcon="iteration" class="sidenav-icons"></mat-icon>Iterations</a>
        <a mat-list-item routerLink="." (click)="loadBoard()">
          <mat-icon svgIcon="board" class="sidenav-icons"></mat-icon>Board</a>
        <a mat-list-item routerLink="." *ngIf="currentUserIsAdmin" (click)="loadPermissions()">
          <mat-icon svgIcon="permission" class="sidenav-icons"></mat-icon>Permissions</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content height="100%">
      <div #container></div>
      <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>