.mat-toolbar.mat-primary {
    background: #fc9b9b;
    height: 40px;
}

:host ::ng-deep .ui-dropdown-label.ui-dropdown-label {
    height: 25px !important;
    display: unset !important;
}

.sidenav-icon {
    margin-right: 10px;
}