<p-toast [style]="{marginTop: '80px'}"></p-toast>
<vaadin-split-layout orientation="vertical" style="height: 100%" IronResizableBehavior="true" (iron-resize)="splitterMove($event)">
    <div style="height: 35%; min-height: 100px;">
        <p-panel header="Team">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-6 ui-lg-2 ui-md-offset-1">
                        Name:
                        <input pInputText type="text" placeholder="" [(ngModel)]="name" />
                    </div>
                </div>
            </div>
            <p-footer>
                <button pButton type="button" icon="pi pi-chevron-left" label="Discard" class="ui-button-danger" (click)="discard()"></button>
            </p-footer>
        </p-panel>
    </div>
    <div style="height: 65%; min-height: 50px;">
        <p-tabView>
            <p-tabPanel header="Users">
                <app-relationship-table #relationTable *ngIf="editMode === 'edit' || editMode === 'edit'" [mainService]="teamService" [relatedService]="userService"
                    [type]="'UsersOfTeam'" [nativeCols]="userCols" [cols]="userAllRelatedCols" [updatedItem]="selectedTeam" [relatedItem]="'User'"></app-relationship-table>
            </p-tabPanel>
            <p-tabPanel header="Issue Scope">
                <app-relationship-table #relationTable *ngIf="editMode === 'edit' || editMode === 'edit'" [mainService]="teamService" [relatedService]="issueService"
                    [type]="'IssuesOfTeam'" [nativeCols]="issueCols" [cols]="issueAllRelatedCols" [updatedItem]="selectedTeam" [relatedItem]="'Issue'" [toolbarButtonsInitialState]="{'delete': false, 'save': false, 'add': false}"></app-relationship-table>
            </p-tabPanel>
        </p-tabView>
    </div>
</vaadin-split-layout>