
  <div *ngFor="let comment of comments" class="commentCard">
  <div [ngStyle]="{'padding-left': (level*15) + 'px'}">
      <div class="messageInfo">
          <div class="icon" style="position: absolute; top: 5px">
              <mat-icon svgIcon="{{isReply ? 'reply' : 'message'}}" class="sidenav-icons" style="fill: rgb(150, 3, 3);"></mat-icon>
          </div>
          <div class="floatLeft">
              <span class="commentUserName">{{comment.user_name}}</span>
              <span class="commentDate">{{comment.date}}</span>
          </div>
      </div>
      <div class="messageConatiner">
          <span class="message">{{comment.text}}</span>
      </div>
      <p-inplace>
          <span class="reply" pInplaceDisplay>
              Reply
          </span>
          <span pInplaceContent>
              <div contenteditable="true" id="replyMessageArea" [textContent]="comment.replyText" (input)="comment.replyText=$event.target.textContent"></div>
              <button pButton type="button" icon="pi pi-pencil" label="Reply" style="margin-left: 15px" (click)="postReplyMessage(comment)"></button>
          </span>
      </p-inplace>
  </div>
  <app-comment [comments]="comment.comments" [currentUserId]="currentUserId" [currentUserName]="currentUserName" [currentIssue]="currentIssue" [isReply]="true" [level]="level + 2"></app-comment>
</div>