<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-table #table [columns]="cols" [value]="teams" 
    [paginator]="true" [rows]="rowsAmount" [totalRecords]="amountOfTeams" [scrollable]="true" [scrollHeight]="scrollHeight"
    [resizableColumns]="true" selectionMode="multiple" [(selection)]="selectedTeams" [metaKeySelection]="true" [showClear]="true"
    *ngIf="isTableDisplayed" (onRowSelect)="onSelectUnselectRow($event)" (onRowUnselect)="onSelectUnselectRow($event)">
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" pResizableColumn>
                {{col.header}}
            </th>
        </tr>
        <tr *ngIf="searchIsVisible">
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input class="filterInput" *ngSwitchCase="col.field" pInputText type="text" (input)="table.filter($event.target.value, col.field, col.filterMatchMode)"
                    style="width:100%">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-team let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="team" [pSelectableRowIndex]="rowIndex">
            <td *ngFor="let col of columns" class="ui-resizable-column">
                {{team[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
