<p-toast [style]="{marginTop: '80px'}"></p-toast>
<vaadin-split-layout orientation="vertical" style="height: 100%" IronResizableBehavior="true" (iron-resize)="splitterMove($event)">
  <div style="height: 50%; min-height: 100px;">
    <p-panel header="Increment">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-g-12 ui-md-6 ui-lg-2 ui-md-offset-1">
            Number:
            <input pInputText type="text" placeholder="" [(ngModel)]="number" disabled="true" />
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            Programm Increment Name:
            <input class="requiredField" pInputText type="text" placeholder="" [(ngModel)]="name" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-g-12 ui-md-6 ui-lg-3 ui-md-offset-1">
            Started On:
            <p-calendar class="requiredField" [(ngModel)]="start_date" [monthNavigator]="true" [yearNavigator]="true" [showIcon]="true" yearRange="2000:2030"></p-calendar>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            Ended On:
            <p-calendar class="requiredField" [(ngModel)]="end_date" [monthNavigator]="true" [yearNavigator]="true" [showIcon]="true" yearRange="2000:2030"></p-calendar>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-g-12 ui-md-8 ui-lg-4 ui-md-offset-1">
            <p>Product:</p>
            <p-dropdown class="requiredField" [options]="productList && productList.options" [(ngModel)]="product_id" placeholder="Select" [showClear]="true"></p-dropdown>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-2">
            <p>Status:</p>
            <p-dropdown class="requiredField" [options]="statusList && statusList.options" [(ngModel)]="status_id" placeholder="Select" [showClear]="true"></p-dropdown>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class=" ui-md-offset-1">
            Business Objectives:
            <textarea [rows]="6" [cols]="50" pInputTextarea autoResize="autoResize" [(ngModel)]="business_objectives"></textarea>
          </div>
        </div>
        <div class="ui-grid-row" >
            <div class=" ui-md-offset-1">
                <button [disabled]="!selectedIncrement || !relationshipPermissions.iterations.create" pButton type="button" icon="pi pi-plus" label="Crate Iteration" (click)="createNewIteration()"></button>
            </div>
          </div>
      </div>
      <p-footer>
        <button pButton type="button" icon="pi pi-chevron-left" label="Discard" class="ui-button-danger" (click)="discard()"></button>
      </p-footer>
      <p-sidebar [(visible)]="isIterationFormVisible" [fullScreen]="true" [modal]="false" [dismissible]="false" (onHide)="onHideIterationForm()">
          <div #newIterationForm></div>
      </p-sidebar>
    </p-panel>
  </div>
  <div style="height: 50%; min-height: 50px;">
    <p-tabView>
      <p-tabPanel header="Iterations">
        <app-relationship-table #relationTable *ngIf="editMode === 'edit' || editMode === 'edit'" [mainService]="incrementService"
          [relatedService]="iterationService" [type]="'IterationsOfIncrement'" [nativeCols]="iterationCols" [cols]="allRelatedCols"
          [updatedItem]="selectedIncrement" [relatedItem]="'Iterations'" [toolbarButtonsInitialState]="{'delete': false, 'save': false, 'add': false, 'refresh': relationshipPermissions.iterations.get}"  [canGet]="relationshipPermissions.iterations.get"></app-relationship-table>
      </p-tabPanel>
      <p-tabPanel header="Feature scope">
          <app-relationship-table #relationTable *ngIf="editMode === 'edit' || editMode === 'edit'" [mainService]="incrementService"
          [relatedService]="featureService" [type]="'FeaturesOfIncrement'" [nativeCols]="featuresCols" [cols]="allRelatedCols"
          [updatedItem]="selectedIncrement" [relatedItem]="'Features'" [toolbarButtonsInitialState]="{'delete': false, 'save': false, 'add': false, 'refresh': relationshipPermissions.features.get}" [canGet]="relationshipPermissions.features.get"></app-relationship-table>
      </p-tabPanel>
    </p-tabView>
  </div>
</vaadin-split-layout>
