<p-toast [style]="{marginTop: '80px'}"></p-toast>
<vaadin-split-layout orientation="vertical" style="height: 100%" IronResizableBehavior="true">
  <div style="height: 50%; min-height: 100px;">
    <p-panel header="{{singularLabel}}">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row" *ngFor="let rowIndex of rowsOnItemForm">
          <ng-container *ngFor="let control of controls">
            <ng-container *ngIf="getRowIndex(control) == rowIndex">
              <ng-container [ngSwitch]="control.type">
                <ng-container *ngIf="(currentUserIsAdmin && control.forAdmin && !control.notForForm || !control.forAdmin && !control.notForForm)">
                  <div [ngClass]="{'ui-g-12 ui-md-6 ui-lg-2': true || control.type !== 'imagePicker'}">
                    {{control.initHandler && control.initHandler(selectedItem, control)}}
                    <ng-container *ngIf="control.type !== 'button' && control.type !== 'imagePicker'">
                      {{control.label}}:
                    </ng-container>
                    <input *ngSwitchCase="'input'" pInputText type="text" [(ngModel)]="ngModel[control.field]" [ngClass]="{requiredField: control.isRequired}"
                      [disabled]="control.readOnly" />
                    <textarea *ngSwitchCase="'textArea'" [rows]="6" pInputTextarea autoResize="autoResize" [(ngModel)]="ngModel[control.field]"
                      [ngClass]="{requiredField: control.isRequired}"></textarea>
                    <input *ngSwitchCase="'password'" type="password" promptLabel="" pPassword [feedback]="false" [(ngModel)]="ngModel[control.field]"
                      [ngClass]="{requiredField: control.isRequired}" />
                    <p-checkbox *ngSwitchCase="'checkbox'" binary="true" [(ngModel)]="ngModel[control.field]"></p-checkbox>
                    <button *ngSwitchCase="'button'" type="button" (click)="control.clickHandler(itemService, selectedItem, {messageService: messageService, dateHelper: dateHelper, control: control })"
                      pButton [icon]="control.icon" [label]="control.label"></button>
                    <p-calendar *ngSwitchCase="'calendar'" [(ngModel)]="ngModel[control.field]" [monthNavigator]="true" [yearNavigator]="true"
                      [showIcon]="true" yearRange="2000:2030" [ngClass]="{requiredField: control.isRequired}"></p-calendar>

                    <p-dropdown *ngSwitchCase="'item'" [title]="control.getTitle && control.getTitle(selectedItem)" [options]="sourceFieldItems[control.serviceName] && sourceFieldItems[control.serviceName].options"
                      [(ngModel)]="ngModel[control.idField]" placeholder="Select" [showClear]="true" [ngClass]="{requiredField: control.isRequired}"
                      (onChange)="control.selectHandler($event, itemService, selectedItem)"></p-dropdown>
                    <p-dropdown *ngSwitchCase="'dropdown'" [options]="dropdownValues[control.field] && dropdownValues[control.field].options"
                      [(ngModel)]="ngModel[control.idField]" placeholder="Select" [showClear]="true" [ngClass]="{requiredField: control.isRequired}"></p-dropdown>
                    <p-progressBar *ngSwitchCase="'progressBar'" [value]="ngModel[control.field]"></p-progressBar>
                    <p-spinner *ngSwitchCase="'spinner'" size="30" [min]="0" [max]="100" [(ngModel)]="ngModel[control.field]"></p-spinner>
                    <ng-container *ngSwitchCase="'imagePicker'">
                      <input #invisibleFileInput type="file" accept="image/*" style="display: none;" (change)="onFileSelected($event, control.srcField)"/>
                      <button pButton type="button" icon="pi pi-camera" label="Select Avatar" class="ui-button" (click)="onImageUploaded(control)"></button>
                      <div class="imageContainer">
                        <img [src]="ngModel[control.srcField]" />
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <p-footer>
        <button pButton type="button" label="Show history" class="ui-button" (click)="showHistory()" [disabled]="!(selectedItem && selectedItem.id)"></button>
        <button pButton type="button" icon="pi pi-chevron-left" label="Discard" class="ui-button-danger" (click)="discardButtonHandler()"></button>
      </p-footer>
    </p-panel>
  </div>
  <div *ngIf="relationshipTabs.length" style="height: 50%; min-height: 50px;">
    <p-tabView>
      <div *ngFor="let tabInfo of relationshipTabs">
        <p-tabPanel [header]="tabInfo.header">
          <app-relationship-table #relationTable *ngIf="editMode === 'edit' || editMode === 'edit'" [mainService]="itemService" [relatedService]="relatedServices[tabInfo.relatedService]"
            [type]="tabInfo.type" [nativeCols]="tabInfo.relatedCols" [cols]="tabInfo.relatedCols" [updatedItem]="selectedItem"
            [relatedItem]="tabInfo.relatedItem" [toolbarButtonsInitialState]="{'delete': false, 'save': false, 'add': false, 'refresh': permissions[tabInfo.permissionKey].get}"
            [canGet]="permissions[tabInfo.permissionKey].get" (selectedRelatedItemToOpen)="selectedRelatedItemToOpenHandler($event)"></app-relationship-table>
        </p-tabPanel>
      </div>
    </p-tabView>
  </div>
</vaadin-split-layout>