.mat-toolbar.mat-primary {
    background: #fc9b9b;
    height: 40px;
}

.new-item {
    background-color: rgb(250, 224, 177) !important;
}

:host ::ng-deep .ui-state-highlight {
    background-color: #007ad9 !important;
}

:host ::ng-deep .ui-table-tbody> tr> td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}