<p-toast [style]="{marginTop: '80px'}"></p-toast>
<mat-toolbar color="primary">
    <button mat-icon-button matTooltip="Add item" matTooltipPosition="below" (click)="add()">
        <mat-icon svgIcon="add"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="Delete item" matTooltipPosition="below" (click)="delete()" [disabled]="!selectedItems || selectedItems && !selectedItems.length">
        <mat-icon svgIcon="delete"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="Refresh" matTooltipPosition="below" (click)="refresh()">
        <mat-icon svgIcon="refresh"></mat-icon>
    </button>
</mat-toolbar>
<p-table #table (window:resize)="onResize($event)" [columns]="cols" [value]="items" [lazy]="true" (onLazyLoad)="loadItemsLazy($event)"
    [paginator]="true" [rows]="rowsAmount" [totalRecords]="amountOfItems" [loading]="loading" [scrollable]="true" [scrollHeight]="scrollHeight"
    [resizableColumns]="true" selectionMode="multiple" [(selection)]="selectedItems" [metaKeySelection]="true" [showClear]="true"
    *ngIf="isTableDisplayed" (onRowSelect)="onSelectUnselectRow($event)" (onRowUnselect)="onSelectUnselectRow($event)">
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" pResizableColumn>
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="item" [pSelectableRowIndex]="rowIndex">
            <td *ngFor="let col of columns" class="ui-resizable-column">
                {{item[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
