<app-items-toolbar (rowsAmountChange)="rowsAmountChangeHandler($event)" (actionClicked)="toolbarActionHandler($event)" [selectedItems]="selectedFeatures"
[disabledOptions]="toolbarButtonsDisabledOptions"></app-items-toolbar>

 <app-edit-create-feature #editComponent [style.display]="!isTableDisplayed ? 'inline' : 'none'"
(updatedFeatureOut)="updatedFeatureOut($event)" [selectedFeatures]="selectedFeatures" (isSavedResultSuccesOut)="isSavedResultSuccesOut($event)"></app-edit-create-feature>


<app-table-feature #featureTable  (selectedFeaturesOut)="selectedFeaturesOut($event)" [style.display]="isTableDisplayed ? 'inline' : 'none'"
[updatedFeature]="updatedFeature"></app-table-feature>