<p-toast [style]="{marginTop: '80px'}"></p-toast>
<vaadin-split-layout orientation="vertical" style="height: 100%" IronResizableBehavior="true" (iron-resize)="splitterMove($event)">
  <div style="height: 50%; min-height: 100px;">
    <p-panel header="Product">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-g-12 ui-md-6 ui-lg-2 ui-md-offset-1">
            Name:
            <input class="requiredField" pInputText type="text" placeholder="" [(ngModel)]="name" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class=" ui-md-offset-1">
            Description:
            <textarea [rows]="6" [cols]="50" pInputTextarea autoResize="autoResize" [(ngModel)]="description"></textarea>
          </div>
        </div>
      </div>
      <p-footer>
        <button pButton type="button" icon="pi pi-chevron-left" label="Discard" class="ui-button-danger" (click)="discard()"></button>
      </p-footer>
    </p-panel>
  </div>
  <div style="height: 50%; min-height: 50px;">
    <p-tabView>
      <p-tabPanel header="Feature scope">
        <app-relationship-table #relationTable *ngIf="editMode === 'edit' || editMode === 'edit'" [mainService]="productService"
          [relatedService]="featureService" [type]="'FeaturesOfProduct'" [nativeCols]="featureCols" [cols]="allRelatedCols"
          [updatedItem]="selectedProduct" [relatedItem]="'Feature'" [toolbarButtonsInitialState]="{'delete': false, 'save': false, 'add': false}"></app-relationship-table>
      </p-tabPanel>
      <p-tabPanel header="Program Increments">
        <app-relationship-table #relationTable *ngIf="editMode === 'edit' || editMode === 'edit'" [mainService]="productService"
          [relatedService]="featureService" [type]="'IncrementsOfProduct'" [nativeCols]="incrementCols" [cols]="allRelatedCols"
          [updatedItem]="selectedProduct" [relatedItem]="'Increment'" [toolbarButtonsInitialState]="{'delete': false, 'save': false, 'add': false}"></app-relationship-table>
      </p-tabPanel>
    </p-tabView>
  </div>
</vaadin-split-layout>