.mat-toolbar.mat-primary {
    background: #fc9b9b;
    height: 40px;
}

.issueCard {
    border: 1px black solid;
    background: rgb(247, 240, 240);
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 4px;
    margin-bottom: 7px;
    cursor: pointer;
}

.issueName {
    padding-left: 5px;
}

.storyPoints {
    height: 24px;
    width: 24px;
    font-weight: bold;
    color: blue;
    float: right;
    margin-right: 10px;
}

.user {
    text-decoration: underline;
    color: darkgray;
    font-style: italic;
    height: 20px;
}

:host ::ng-deep .ng-untouched .ng-pristine .ng-valid {
    position: absolute;
}

:host ::ng-deep .ui-panel {
    padding: 5px !important;
}
#messageArea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 100px;
    overflow: auto;
    padding: 2px;
    resize: vertical;
    width: 330px;
    margin: 5px;
    border-radius: 3px;
}

.user:hover .tooltiptext {
    transition-delay:3s;
    visibility: visible;
  }

  .user .tooltiptext {
    visibility: hidden;
    width: 200px;
    height: 200px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: 2px solid black;
    padding: 10px;
   
    /* Position the tooltip text - see examples below! */
    /* position: absolute; */
    position: relative;
    z-index: 1;
    margin-left: -10px;
  }

  .tooltiptext .avatar {
      width: 100%;
  }