<app-items-toolbar (rowsAmountChange)="rowsAmountChangeHandler($event)" (actionClicked)="toolbarActionHandler($event)" [selectedItems]="selectedTeams"
[disabledOptions]="toolbarButtonsDisabledOptions" [itemName]="'Teams'" [iconName]="'group'"></app-items-toolbar>

<app-edit-create-team #editComponent [style.display]="!isTableDisplayed ? 'inline' : 'none'"
(updatedTeamOut)="updatedTeamOut($event)" [selectedTeams]="selectedTeams" [relationshipPermissions]="userPermissions" (isSavedResultSuccesOut)="isSavedResultSuccesOut($event)"></app-edit-create-team>

<app-table-teams #teamTable  (selectedTeamsOut)="selectedTeamsOut($event)" [style.display]="isTableDisplayed ? 'inline' : 'none'"
[updatedTeam]="updatedTeam" [canGet]="userPermissions.teams.get"></app-table-teams>