/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~@swimlane/ngx-dnd/release/index.css';

body {
    background-image: url("img/3.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
